/* Barra de navegacion */

.navbar {
    padding: 3em;
    align-items: flex-end;
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    justify-content: space-between; 
    width: 100%;
  }

  .navbar-collapse {
    align-items: center;
    justify-content: space-between; 
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;

  }

  .col{
    justify-content: center;
    align-items: normal;
    display: inline-flex;
  }
  
  h1 {
    font-size: 1em;
    font-family: 'Bebas Neue', sans-serif;
    color: #0C0616;
    align-items: center;
  }


  
  /* Estilos generales */
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    }
  
  h3 {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    }
  
  .seccion-oscura {
    color: #F2F2F2;
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
  }
  
  .seccion-clara {
    color: black;
    background-color: #F2F2F2;
  }
  
  .seccion-titulo {
    font-size: 1rem;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #d8d5d5;
  }
  
  .seccion-texto {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    justify-content:flex-start
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
    background-color: #227C70;
    color: #F2F2F2;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: #F2F2F2;
  }

  .text-justify {
    text-align: justify;
  }
  
  /* Seccion Hero */
  
  .hero {
    background-color: #F2F2F2;
    min-height: 1rem;
    text-align: center;
  }
  
  .hero-principal {
    padding: 3rem;
  }
  
  .hero-imagen-desarrollador {
    width: 20rem;
    margin: 2rem;
  }
  
  .hero-principal h2 {
    font-size: 1.5rem;
    color: #F2F2F2;
    font-family: 'Lato', sans-serif;
  }
  
  
  
  /* Sobre mi */
  
  .festival {
    height: 20%;
    padding: 5rem;
    background-color: #7A59AA;
  }
  
  .festival container {
    max-width: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  .festival container h2 {
    max-width: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  /* Experiencia */
  
  .experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color:#F2F2F2;
    background-color: #41477a;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: #aeaeae;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    
  }
  
  .badge {
    margin: 5px;
  }
  
  
  .programa {
    height: 15%;
    padding: 4rem;
    background-color: #E1EF5D;
  }
  
  .programa container {
    max-width: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  .programa container h2 {
    max-width: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  .imagen-programacion {
    width: 30rem;
    margin: 2rem;
  }

  
  
  /* Contacto */
  
  .contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
  }
  
  .contacto .rectangulo {
    margin-top: -5rem;
    background-color: #7A59AA;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #F2F2F2;
  }
  
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .contacto .descripcion {
    color: #F2F2F2;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
  }
  
  .contacto button {
    color: #F2F2F2;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid#F2F2F2;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover {
    background-color: #F2F2F2;
    color: black;
  }
  
  .contacto button i {
    color: #F2F2F2;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    color: black;
  }
  
  /* Pie de pagina (footer) */
  
  footer {
    min-height: 500px;
    background-color: #7A59AA;
  }
  
  .footer-logo {
    height: 10rem;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: #7A59AA;
    font-size: 2rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: #F2F2F2;
    border: 2px solid #E1EF5D;
  }
  
  .iconos-redes-sociales a:hover i {
    color: #7A59AA;
  }
  
  .derechos-de-autor {
    font-size: 1rem;
    color: #aeaeae;
    padding: 20px;
  }
  
  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }



  
/*Intrinsec Design*/

.intrinsic ul {
  /* autoprefixer: off */
  list-style: none;
  display: grid;
  margin: 100px 0;
  padding: 1rem; }

.intrinsic img {
  display: block;
  width: 100%;
  border-radius: 60%; }

.intrinsic ul {
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 6px;
  margin-top: 134px; }
  ul li {
    grid-column: span 2;
    grid-row: span 2; }

  input[type=checkbox]:checked ~ ul {
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 4px;
  margin-top: 152px; }
  input[type=checkbox]:checked ~ ul li {
    grid-column: span 2;
    grid-row: span 2; }
  input[type=checkbox]:checked ~ ul img {
    border-radius: 50%; }
  @media (min-width: 392px) {
    input[type=checkbox]:checked ~ ul li {
      margin-top: -18px; } }
  @media (min-width: 392px) {
    input[type=checkbox]:checked ~ ul li:nth-child(3),
    input[type=checkbox]:checked ~ ul li:nth-child(6),
    input[type=checkbox]:checked ~ ul li:nth-child(9),
    input[type=checkbox]:checked ~ ul li:nth-child(12),
    input[type=checkbox]:checked ~ ul li:nth-child(15),
    input[type=checkbox]:checked ~ ul li:nth-child(18) {
      grid-column: 2 / span 2; } }
  @media (min-width: 404px) {
    input[type=checkbox]:checked ~ ul li:nth-child(3),
    input[type=checkbox]:checked ~ ul li:nth-child(6),
    input[type=checkbox]:checked ~ ul li:nth-child(9),
    input[type=checkbox]:checked ~ ul li:nth-child(12),
    input[type=checkbox]:checked ~ ul li:nth-child(15),
    input[type=checkbox]:checked ~ ul li:nth-child(18) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(3),
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(11),
    input[type=checkbox]:checked ~ ul li:nth-child(15),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: 2 / span 2; } }
  @media (min-width: 468px) {
    input[type=checkbox]:checked ~ ul li:nth-child(3),
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(11),
    input[type=checkbox]:checked ~ ul li:nth-child(15),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(9),
    input[type=checkbox]:checked ~ ul li:nth-child(14),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: 2 / span 2; } }
  @media (min-width: 532px) {
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(9),
    input[type=checkbox]:checked ~ ul li:nth-child(14),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(10),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: 2 / span 2; } }
  @media (min-width: 770px) {
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(10),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(5),
    input[type=checkbox]:checked ~ ul li:nth-child(13) {
      grid-column: 2 / span 2; } }
  @media (min-width: 898px) {
    input[type=checkbox]:checked ~ ul li:nth-child(5),
    input[type=checkbox]:checked ~ ul li:nth-child(13) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(10),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: 2 / span 2; } }
  @media (min-width: 920px) {
    input[type=checkbox]:checked ~ ul li:nth-child(4),
    input[type=checkbox]:checked ~ ul li:nth-child(10),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(5),
    input[type=checkbox]:checked ~ ul li:nth-child(13) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1048px) {
    input[type=checkbox]:checked ~ ul li:nth-child(5),
    input[type=checkbox]:checked ~ ul li:nth-child(13) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(6),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1176px) {
    input[type=checkbox]:checked ~ ul li:nth-child(6),
    input[type=checkbox]:checked ~ ul li:nth-child(16) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1280px) {
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(18) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1326px) {
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(18) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1400px) {
    input[type=checkbox]:checked ~ ul li:nth-child(7),
    input[type=checkbox]:checked ~ ul li:nth-child(19) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(8),
    input[type=checkbox]:checked ~ ul li:nth-child(21) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1518px) {
    input[type=checkbox]:checked ~ ul li:nth-child(8),
    input[type=checkbox]:checked ~ ul li:nth-child(21) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(9) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1646px) {
    input[type=checkbox]:checked ~ ul li:nth-child(9) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(10) {
      grid-column: 2 / span 2; } }
  @media (min-width: 1838px) {
    input[type=checkbox]:checked ~ ul li:nth-child(10) {
      grid-column: auto / span 2; }
    input[type=checkbox]:checked ~ ul li:nth-child(11) {
      grid-column: 2 / span 2; } }

label {
  cursor: pointer; }
/*# sourceMappingURL=01-001.css.map */

